#category-nav-area {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: -10rem;
}

.category-nav-top-row {
    margin-top: 20vh;
}

#product-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.product-area-left,
.product-area-right {
    width: 50%;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-area-right {
    position: sticky;
    top: 20%;
    margin-left: 1rem;
    align-items: flex-start;
    gap: 1rem;
}

.separator {
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.product-sku-details,
.select-size {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.product-title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: .00625rem;
    color: #262626;
}

.product-price {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: .00625rem;
    color: #6f6f6f;
}

.icons-container {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    order: 2;
    font-size: 1.5rem;
}

.product-sku {
    font-weight: 300;
    font-size: .75rem;
    line-height: .875rem;
    letter-spacing: .00625rem;
    color: #6f6f6f;
    font-family: "gteesti-light";
}

.product-color {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

.product-color-title,
.select-size-title {
    font-weight: 400;
    color: #262626;
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
    padding: 0 2.125rem 0 0;
}

.color-thumbnail-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 12.5%;
}

.color-description {
    font-weight: 400;
    color: #262626;
    font-size: .875rem;
    letter-spacing: 1px;
    text-align: left;
    width: 120%;
}

.full-screen-image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    display: none;
    cursor: image-set(url(../images/product/close.png) 1x,
            url(../images/product/close@2x.png) 2x) 30 30, auto;
    display: none;
    overflow-y: scroll;
}

#full-screen-show {
    width: 100%;
}

.product-images {
    width: 100%;
    cursor: image-set(url(../images/product/zoom-in-new.png) 1x,
            url(../images/product/zoom-in-new@2x.png) 2x) 30 30, auto;
}

.product-thumbnail {
    width: 100%;
    border: 2px solid #262626;
}

.view-details {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: .875rem;
    color: #262626;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-family: "gteesti-light";
}

.view-details>span {
    font-size: 1rem;
}

.view-details::after {
    position: absolute;
    display: block;
    bottom: -0.5rem;
    width: 100%;
    height: 1px;
    background-color: #262626;
    content: '';
}

.view-details:visited {
    color: #262626;
    text-decoration: none;
}

.view-details:hover {
    color: #262626;
    text-decoration: none;
}

.email-sub-button.cart {
    margin-top: 1rem;
}

.email-sub-button>span {
    text-transform: uppercase;
    font-family: "gteesti-light";
    font-weight: normal;
}

.email-sub-button.light {
    border: 1px solid rgb(111, 111, 111);
    background-color: white;
    border-radius: 5px;
    padding: 0.2rem 1rem;
}

.pay-pal-logo {
    width: 101px;
    height: 32px;
}

.shipping-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.shipping-info-text {
    font-size: .75rem;
    line-height: .875rem;
    color: #262626;
}

.info-links {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.vertical-separator {
    height: 20px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

#details-area {
    margin: 2rem .8rem;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2, 1fr); */
    /* display: grid; */
    /* gap: 0.5rem; */
    /* margin-top: 2rem; */
}

.accordSec1 {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: space-between;
}

.accordion {
    flex: 1;
    width: 100%;
    /* max-width: 600px; */
    /* max-width for larger screens */
    margin: 10px auto;
    overflow: hidden;
}

.accordion-header {
    font-size: 18px;
    font-family: 'GTEesti';
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-image{
    background-size: cover;
    background-position: center;
    width: 100%;
}

.accordion-content {
    letter-spacing: .6px;
    max-height: 0;
    font-family: 'GTEesti';
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding: 0 15px;
    font-size: 16px;
    color: rgb(111, 111, 111);
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.accordion-content p {
    margin: 15px 0;
}

/* .accordion {
    display: flex;
    flex: 1;
    background-color: aqua;
    flex-direction: column;
    gap: 1rem;
    transition: height 0.5s linear;
} */

/* .accordion-header {
    display: flex;
    width: inherit;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: bisque;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
} */

/* .accordion-content {
    background-color: lightgray !;
    display: flex;
    width: inherit;
    flex-direction: column;
    gap: 0.25rem;
    text-align: justify;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
    height: 0;
} */

/* .accordion-content.details {
    gap: 0.125rem;
}

.accordion-control {
    font-size: 2rem;
    cursor: pointer;
} */

/* .accordion-content.packaging {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.accordion-content.packaging>.accordion-image {
    width: 100%;
} */

/* .accordion-heading {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 1rem 1.875rem 1rem 0;
    font-weight: 400;
    color: #262626;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
} */

.accordion-text {
    font-family: "GTEesti";
    color: rgb(111, 111, 111);
    text-align: left;
    letter-spacing: .0375rem;
    margin: 0 0 1rem;
}

.separator.acc {
    margin-top: auto;
    order: 2;
    display: none;
}

#separator-05 {
    width: inherit;
}

#shipping {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.accordion.special {
    width: 95.2%;
    display: flex;
    margin-left: -6rem;
}

.accordion-content.shipping {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.shipping-left,
.shipping-right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}

.accordion-heading-text {
    font-weight: 400;
    color: black;
}

.in-paragraph-link {
    color: #6f6f6f;
    text-decoration: underline;
    transition: color 0.5s linear;
}

.in-paragraph-link:visited {
    color: #6f6f6f;
    text-decoration: underline;
}

.in-paragraph-link:hover {
    color: #262626;
    text-decoration: underline;
}

#similar-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4rem;
    position: relative;
}

.similar-products-title {
    font-family: "Quarto";
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.4375rem;
    color: #262626;
    text-align: left;
    letter-spacing: -.6px;
    margin: 0;
}

.bg-similar-products-list {
    width: 100%;
    background-color: #d6dbda;
    height: 21rem;
    position: absolute;
    top: 4rem;
    left: 0;
}

.similar-products-list {
    width: 95.5vw;
    overflow: hidden;
    position: absolute;
    top: 10rem;
    left: 3rem;
}

#similar-products-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    transition: transform 450ms ease-in-out;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 9;
}

.product-card-img {
    width: 428px;
}

#meet-stylists {
    margin-top: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-card-title-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.product-card-title {
    margin-top: .25rem;
    margin-bottom: .375rem;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .8px;
    color: #262626;
}

.product-card-price {
    margin-top: .25rem;
    margin-bottom: .375rem;
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: .8px;
    color: #262626;
    font-family: "gteesti-light";
}

.control-buttons-interested-in {
    position: absolute;
    z-index: 9;
    right: 3rem;
    top: 7rem;
}

.button-control.dark {
    color: #262626;
    font-size: 1rem;
}

.button-control.dark.inactive {
    color: rgba(0, 0, 0, 0.2);
}

.full-width-button.stylists {
    width: 400px;
    font-family: "gteesti-light";
    margin-bottom: 2rem;
}

.bg-banner {
    width: 100%;
    background-image: url(../images/product/shop-banner.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.meet-stylists-subtext {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .6px;
    color: #6f6f6f;
    text-align: center;
    margin: 0 auto;
    max-width: 50rem;
    font-family: "gteesti-light";
    line-height: 1.2;
}

.meet-stylists-heading {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .6px;
    color: #262626;
    text-align: center;
    margin: 0 auto 1.25rem;
}

#shopping-cart-shorthand {
    /* left: 50%; */
    /* transform: translateX(-50%); */
    position: fixed;
    bottom: 1.87rem;
    z-index: 20;
    background-color: rgb(255, 255, 255);
    padding: .8rem;
    display: none;
    flex-wrap: wrap;
    left: 1rem;
    right: 1rem;

    /* margin: .7rem; */
    /* margin-right:1rem; */
    /* gap: 1rem; */
    /* margin-left: 0.5rem;
    margin-right: 0.5rem; */
}

.shopping-cart-shorthand-left {
    display: flex !important;
    flex: 1;
    align-items: center;
    gap: 1.87rem;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(38, 38, 38);
    font-family: 'GTEesti';
    letter-spacing: 1px;

    .shopping-cart-shorthand-price {
        font-size: 18px;
        font-weight: none !important;
    }
}

.shopping-cart-shorthand-right {
    display: flex !important;
    flex: 1;
    gap: 1rem;
    justify-content: flex-end;
    text-transform: uppercase;
    color: rgb(111, 111, 111);
    font-size: 12px;

    .sec1 {
        display: flex;
        flex: 1;
        letter-spacing: 2px;
        justify-content: flex-end;
        gap: 1.5rem;
        align-items: center;
    }

    .sec2 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        gap: .5rem;
    }
}

.product-thumbnail.small {
    width: 32px;
    height: 40px;
    border: 1px solid #6f6f6f;
}

.shopping-cart-shorthand-right>.full-width-button>.email-sub-button.light {
    border-radius: 4px;
    margin-top: unset;
    padding-left: 2rem;
    padding-right: 2rem;
}

.shopping-cart-shorthand-right>.full-width-button>.email-sub-button.light>.pay-pal-logo {
    width: 75px;
    height: unset;
}

.email-sub-button.shorthand {
    padding: 0.8rem;
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
}

.shorthand-cart-text {
    font-size: 0.75rem;
    width: 130px;
}

.vertical-separator.shorthand {
    height: 5vh;
}

i {
    cursor: pointer;
}

.color-dropdown {
    width: 30.375rem;
    background-color: white;
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    left: 30%;
    padding: 1.5rem;
    z-index: 20;
    bottom: 7.2rem;
}

.size-dropdown {
    min-width: 29.375rem;
    background-color: white;
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 1.5rem;
    z-index: 21;
    bottom: 7rem;
    left: 45%;
}

.ruler-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.color-dropdown-title {
    font-weight: 400;
    color: #262626;
    font-size: 1.25rem;
    letter-spacing: .8px;
    text-align: left;
}

.horizontal-separator {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.product-thumbnail.medium {
    width: 66px;
    border: 1px solid #6f6f6f;
}

.color-shorthand.medium {
    font-weight: 400;
    color: #262626;
    font-size: .875rem;
    letter-spacing: 1px;
    text-align: left;
    width: 66px;
}

.size-guide-top-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.tr-left,
.tr-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.view-details.small {
    text-transform: none;
    font-family: "gteesti";
    font-weight: 500;
    color: #262626;
    font-size: .875rem;
    line-height: 1.125rem;
    letter-spacing: 1px;
}

.size-list {
    height: 20rem;
    overflow-y: scroll;
    width: 100%;
}

.size-list-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.size-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 90%;
    padding: 1rem;
    cursor: pointer;
}

.view-details.medium {
    text-transform: none;
    font-family: "gteesti";
    font-weight: 500;
    color: #262626;
    font-size: .875rem;
    line-height: 1.125rem;
    letter-spacing: 1px;
}

.view-details.medium::after {
    display: none;
}

.size-list-item-text.inactive {
    color: #6f6f6f;
    text-decoration: line-through;
}

#size-guide-div {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    z-index: 100;
    overflow-y: scroll;
    padding-top: 4rem;
}

.size-guide-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 50%;
}

.size-guide-top-row-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: flex-start;
}

.size-guide-title {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 4px;
    color: #262626;
    text-transform: uppercase;
    text-align: left;
}

.size-guide-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.size-guide-grid-row,
.size-guide-grid-row-header {
    display: flex;
    gap: 0.125rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all .15s ease-in;
}

.size-guide-grid-item,
.size-guide-grid-item-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.125rem;
    padding: 0.125rem;
    width: 20%;
    cursor: pointer;
}

.size-guide-grid-item:hover {
    background-color: #e1e1e1;
}

.size-guide-grid-row:hover {
    background-color: #eef1f1;
}

.size-guide-grid-row:hover>.size-guide-grid-item-text {
    color: #537876;
}

.size-guide-grid-row::before {
    content: "";
    display: none;
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    width: .375rem;
    height: 100%;
    background: #537876;
    opacity: 0;
}

.size-guide-grid-row:hover::before {
    display: block;
    opacity: 1;
}

.size-guide-grid-item-text {
    font-weight: 500;
    color: #6f6f6f;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.size-guide-grid-item-title {
    background-color: #537876;
    border-radius: 50%;
    color: white;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-guide-grid-item-title.inactive {
    background-color: white;
}

.size-guide-grid-item-text.first {
    font-size: 1.125rem;
    line-height: 2.9375rem;
    text-align: center;
    letter-spacing: .7px;
    text-transform: uppercase;
    font-weight: 500;
    color: #262626;
}

.size-guide-grid-item-text.regular {
    font-weight: 400;
    color: #6f6f6f;
    font-size: 1.125rem;
    line-height: 2.9375rem;
    text-align: center;
    letter-spacing: .7px;
    text-transform: uppercase;
}

.bottom-redirect {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.redirect-left,
.redirect-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.view-details.light {
    color: white;
}

.view-details.light::after {
    background-color: white;
}

.redirect-left {
    background-image: url(../images/product/size-guide/redirect-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.redirect-right {
    background-image: url(../images/product/size-guide/redirect-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.button-control.dark.special {
    font-size: 2rem;
    position: absolute;
    right: 3rem;
    top: 3rem;
}

@media (max-width: 768px) {
    .accordSec1 {
        flex-direction: column;
        gap: 0 !important;
    }
}

@media (max-width: 1200px) {

    #shopping-cart-shorthand {
        flex-direction: column;
        /* width: ; */
        /* gap: 1rem; */
    }

    .shopping-cart-shorthand-left {
        padding: 1rem 0;
        /* background-color: antiquewhite; */
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
    }

    .shopping-cart-shorthand-right {
        padding: 1.3rem 0 0 0;
        justify-content: space-between;

        .sec1 {
            justify-content: flex-start;
        }
    }

    .color-dropdown {
        left: 5%;
        bottom: 12rem;
    }

    .size-dropdown {
        /* width: 100%; */
        left: 1rem;
        right: 1rem;
        /* bottom: rem; */
    }


}