@font-face {
    font-family: "gteesti";
    src: url(../fonts/gt-eesti-pro-display-regular.otf);
}

@font-face {
    font-family: "gteesti-normal";
    src: url(../fonts/GT-Eesti-Display-Regular-Trial.otf);
}

@font-face {
    font-family: "gteesti-light";
    src: url(../fonts/GT-Eesti-Display-Light-Trial.otf);
}

@font-face {
    font-family: "Quarto";
    src: url(../fonts/Quarto-Light.otf);
}

@font-face {
    font-family: "Quarto-Bold";
    src: url(../fonts/Quarto-Regular.ttf);
}

@font-face {
    font-family: "Quarto-Medium";
    src: url(../fonts/Quarto-Medium.ttf);
}

body {
    font-family: "gteesti" !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.hover-content {

    width: 100%;
    max-height: 60vh;
    height: 0;
    transition: height 400ms ease-in-out,
        opacity 400ms ease-in-out;

    display: none;
    position: absolute;
    top: 60px;
    /* Adjust based on navbar height */
    left: 0;
    right: 0;
    color: #262626;
    background-color: white;

    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    /* Ensure the hover content is above other content */
}

#navigation {
    position: fixed;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    /* padding: 1rem; */

    padding: 1rem 1rem 0rem 1rem;

    gap: .5rem;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 700ms ease-in-out;
}

#navigation.light {
    background-color: white;
    color: black;

    .button-control {
        color: black;
    }
}

#top {
    display: flex;
    color: rgb(245, 238, 238);
    flex-direction: column;
    /* background-color: rgb(0, 255, 34); */
    background: url(../images/bg-01.jpg) no-repeat;
    justify-content: center;
    align-items: center;
    height: 120vh;
    transition: all 0.5s ease-in-out;
}

/* .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} */

#flex-container {
    display: flex;
    position: relative;
    width: 100%;
    font-size: 30px;
    height: 20vh;
    text-align: center;
}

.flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
}

@media (max-width: 600px) {
    /* .footer-area div{
        width: 50% !important;
    } */

    .nav-container-women.active {
        flex-wrap: wrap !important;
        flex: 1 1 300px !important;
        /* background-color: aqua; */
    }

    .nav-item {
        /* display: none !important; */

        &.active {
            display: flex !important;
        }
    }


}

/* Styles for the scrolled state */
.scrolled .navigation {
    background-color: white;
    background-image: none;
    /* Remove background image */
}

.scrolled .headline {
    border-top: .0625rem solid #e5e5e5;
    border-bottom: .0625rem solid #e5e5e5;
    /* color: black; */
    /* Change text color to black */
}

.scrolled #logo {
    display: none !important;
    /* opacity: 1;
    background-color: aqua; */
    /* Hide the logo */
}

.nav-container-women.active {
    display: flex;
}

.nav-container-women {
    display: none;
    flex: 1;
    /* text-align: center; */
    justify-content: center;
    /* align-items: flex-start; */
    flex-direction: column;
    gap: 0.5rem;
}

.last-elements {
    background-color: #fafafa;
    display: flex;
    gap: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.heading-links {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: "gteesti";
    color: #262626;
    letter-spacing: 3px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
}

.women-nav-img {
    width: 220px;
}

.heading-links:hover {
    /* letter-spacing: 5px; */
    text-decoration: underline;
}

.heading-links:active,
.heading-links:visited {
    color: #262626;
    text-decoration: none;
}

.content-links {
    font-size: 0.8rem;
    font-family: "gteesti-light";
    color: #6f6f6f;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.content-links:active {
    color: #262626;
    text-decoration: none;
}

.content-links:hover {
    text-decoration: underline;
}

.nav-container-fragrances {
    display: none;
    width: calc(100% / 3);
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.nav-container-eyewear {
    display: none;
    width: calc(100% / 2);
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.nav-container-stories {
    display: none;
    width: calc(100% / 4);
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.nav-container-item.active {
    display: flex;
}

.nav-container-fragrances.active {
    display: flex;
}

.nav-container-eyewear.active {
    display: flex;
    flex: 1;
}

.nav-container-stories.active {
    display: flex;
}

#kids-photo {
    transform: translateX(-1%) scale(1.1);
}

.image-nav-fragrance {
    filter: brightness(80%);
}

.image-nav-eyewear {
    filter: brightness(80%);
    transform: scale(1.5);
}

.image-nav-gifts {
    filter: brightness(80%);
    transform: scale(1.28);
}

.image-nav-area {
    transform: translate(-20%) scale(1.2);
    filter: brightness(80%);
}

.image-nav-stories {
    filter: brightness(80%);
    transform: scale(1.28);
}

.central-link-anchor {
    font-size: 1rem;
    font-family: "gteesti-light";
    color: #262626;
    text-decoration: underline;
}

.central-link-anchor:hover {
    color: #262626;
    text-decoration: underline;
}

.central-link-anchor:visited {
    color: #262626;
    text-decoration: underline;
}

.redirect-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    color: white;
    text-decoration: underline;
}

.redirect-link:active {
    color: white;
    text-decoration: underline;
}

.redirect-link:hover {
    color: white;
    text-decoration: underline;
}

.selected-nav-container.text-items {
    gap: 2rem;
    align-items: flex-start !important;
    padding-top: 1rem;
}

.selected-nav-container.index1 {

    /* background-color: aqua; */

    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 200;
    overflow-x: hidden;
    width: 100%;
    justify-content: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 150;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 200;
    /* Ensure it appears below the mobile menu but above other elements */
}

.mobile-menu-panel {
    position: fixed;
    top: 100;
    left: -100%;
    width: 80%;
    /* Adjust for responsive design */
    max-width: 500px;
    /* Optional, max width for larger screens */
    height: 100vh;
    display: none;
    overflow-y: scroll;
    flex-direction: column;
    transition: left 0.3s ease;
    background-color: white;
    align-items: flex-start;
    padding: 1em;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); */
    z-index: 300;
    /* Ensure it appears above other elements */
}

.mobile-menu-panel .close-btn {
    align-self: flex-start;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.mobile-nav-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.mobile-nav-list li a {
    text-decoration: none;
    color: black;
    /* color: #262626; */
    /* background-color: antiquewhite; */
    display: block;
    text-transform: uppercase;
    font-size: .75rem;
    font-family: gteesti;
    letter-spacing: 3px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;

    &.centered {
        &::before {
            font-size: 17px;
            float: left;
            content: "\f104";
            font-family: 'FontAwesome';
        }
    }

    &::before {
        font-size: 17px;
        float: right;
        content: "\f105";
        font-family: 'FontAwesome';
    }
}

.sub-menu {
    display: none;
    /* margin-left: 20px; */
}

.sub-menu li {
    margin: 0.5em 0;
    /* background-color: aqua; */
    list-style-type: none;
}

.centered {
    text-align: center;
}

.show {
    display: block;
}


.extended-content {
    /* background-color: #444; */
    padding: 1em;
    border-radius: 5px;
    color: black;
}

.extended-content img.responsive-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1em;
}

.mobile-menu-panel .close-btn {
    align-self: flex-start;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.mobile-nav-list li {
    text-align: left;
    /* padding: 10px;
    border-bottom: 1px solid #e5e5e5; */
    /* margin: 0 .9375rem; */
}

.menu-item {
    padding: 16px !important;
    /* text-align: left; */
    border-bottom: 1px solid #e5e5e5;
    /* margin: 0 .9375rem; */
}

.mobile-nav-list {
    list-style-type: none;
    width: 100%;
    /* background-color: antiquewhite; */
    padding: 0;
}

.mobile-nav-list li ul {
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.top-row-middle {
    background-color: white(49, 51, 51);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    /* background-color: #333;  */
    /* Adjust as needed */

    .top-row-right {
        display: none;
    }

    .top-row-left {
        display: none;
    }
}

.top-row {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
    gap: 10em;
}

.bottom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* padding: 10px; */
    /* background-color: #444; */
}

/* .top-row-left, .top-row-middle, .top-row-right, .bottom-row, .headline{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
} */

.top-row-left,
.top-row-right,
.headline {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.headline {
    padding: 5px;
    /* background-color: aqua; */
    width: 100%;
}

.top-row-left {
    justify-content: flex-start;
    float: left;
}

.top-row-right {
    justify-content: flex-end;
    float: right;
    /* margin-right: 3rem; */
}

.nav-item {
    /* flex: 1 1 auto;
    display: flex;    
    padding: 10px;
    min-width: 100px; */
    /* flex: 3 5; */

    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 0.75em;
    justify-content: center;
    cursor: pointer;
    position: relative;

    &.active {
        color: red;
        display: block;
    }
}

.nav-item-text {
    /* text-decoration: none;
    cursor: pointer; */
}

@media (max-width: 1200px) {

    .top-row-left,
    .top-row-right {
        display: flex !important;
        padding: 20px;
    }


    #bottom-row-nav {
        display: none;
    }

    .top-row {
        display: none;
    }

    .headline {
        border-top: .0625rem solid #e5e5e5;
        border-bottom: .0625rem solid #e5e5e5;
    }

    #navigation {
        position: fixed;
        display: block;
        background: white;
        color: black;
        text-align: center;
    }

    .scrolled #logo {
        display: block !important;
    }

    #logo {
        filter: invert(100%);
    }
}

@media (max-width: 480px) {
    .top-row-middle {
        /* background-color: aqua !important;
        flex-direction: column; */
        align-items: center;
    }

    .mobile-menu-panel {
        width: 100% !important;
    }

    .nav-item-text {
        font-size: 14px;
    }
}

.special-link {
    letter-spacing: 2px;
}

.special-link::after {
    position: absolute;
    content: '';
    background: black;
    height: 1px;
    left: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    bottom: -1rem;
}

.selected-nav-container {

    /* display: none; */

    width: 100%;
    max-height: 60vh;
    height: 0;
    transition: height 400ms ease-in-out,
        opacity 400ms ease-in-out;
}

.selected-nav-container.active {
    height: 50vh;
    /* margin-left: -2rem;   */
}

.nav-container-item {
    display: none;
    width: calc(100% / 5);
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.sub-nav-container {
    width: 100%;
    /* padding: 1rem; */
    display: block;
    justify-content: center;
    align-items: center;
    color: #262626;
}

.sub-nav-container.active {

    padding: 1rem;

    display: flex;
}

.special-link:hover:after {
    width: 100%;
    left: 0;
}

.headline.disabled {
    display: none;
}

.bottom-row.br {
    gap: 2em;
}

.logo {
    font-size: 3em;
    margin-top: -2rem;
}

.logo.dark {
    filter: invert(100%);
}

.headline-item {
    opacity: 0;
    font-size: 1rem;
    transition: opacity 200ms linear;
    font-weight: normal;
    font-family: "gteesti-light";
    letter-spacing: 3px;
}

.headline-item:last-child {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.headline-item.active {
    opacity: 1;
}

.headline-link {
    text-decoration: underline;
    font-weight: bold;
}

.button-control {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.hero-heading {
    font-size: 2.5rem;
    font-family: "gteesti-light";
}

.hero-subheading {
    font-size: 1.25rem;
    font-family: "gteesti-light";
}

.hero-links {
    display: flex;
    width: inherit;
    gap: 2em;
    flex-direction: row;
    color: white;
    justify-content: center;
}

.hero-link,
.hero-link:visited {
    font-size: 1.25rem;
    font-family: "gteesti-light";
    color: white;
    text-decoration: underline;
    transition: all 300ms ease-in-out;
    /* z-index: 1; */
    /* position: relative; */
}

.hero-link:hover {
    font-size: 1.35rem;
    text-decoration: underline;
}

.banner-slide {
    width: 100vw;
    background: url(../images/bg-01.jpg) no-repeat;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.banner-slide:nth-child(2) {
    background: url(../images/bg-02.jpg) no-repeat;
}

.banner-slide:nth-child(3) {
    background: url(../images/bg-03.jpg) no-repeat;
}

.banner-slide:nth-child(4) {
    background: url(../images/bg-04.jpg) no-repeat;
}

#cta {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 2rem;

    .cta-link,
    .cta-link:visited {
        font-size: 1.75rem;
        font-family: "gteesti-light";
        color: #262626;
        text-decoration: none;
        opacity: 0.3;
        transition: all 300ms ease-in-out;
    }

    .cta-link:hover {
        text-decoration: none;
        opacity: 1;
    }
}

#exclusive {
    overflow: hidden;
}

#exclusive,
.exclusive-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.exclusive-item {
    width: 50vw;
    background: url(../images/exclusive-01.jpeg) no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.exclusive-item:nth-child(2) {
    background: url(../images/exclusive-02.jpeg) no-repeat;
}

.exclusive-item:hover {
    transform-origin: 50% 50%;
    transform: scale(1.2);
}

#campaign {
    display: flex;
    width: 100vw;
    background: url(../images/exclusive-01.jpeg) no-repeat;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
}

#campaign video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

#new-arrivals {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 2rem;
}

.na-heading {
    font-size: 2.5rem;
    font-family: "gteesti-normal";
    color: black;
}

.na-subheading {
    font-size: 1.5rem;
    font-family: "gteesti-light";
    color: black;
}

#sl,
.sl-links {
    display: flex;
    width: 100%;
    /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/both-sl.jpg) no-repeat;
    background-size: cover; */
    height: 100vh;
    /* position: relative; */
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: row;
    gap: 4em;
    transition: background-image 0.8s ease-in-out;
}

.sl-links {
    height: unset;
    width: unset;
    position: absolute;
}

#bg-element-sl {
    width: 100vw;
    max-height: 100vh;
    /* animation: fadeIn 900ms ease-in-out 1 forwards; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#sl.class-01 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/women-sl.jpg) no-repeat;
}

#sl.class-02 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/men-sl.jpg) no-repeat;
}

#sl.class-03 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/kids-sl.jpg) no-repeat;
}

#sl.class-04 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/lifestyle-sl.jpg) no-repeat;
}

.sl-link,
.sl-link:active {
    font-size: 1.75rem;
    font-family: "gteesti-light";
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.sl-link:hover {
    text-decoration: underline;
}

.item:nth-child(even) {
    background-color: lightblue;
}

#footer {
    /* background: rgba(67, 97, 238, 0.1); */
    width: 100%;
    padding: 0px !important;
    margin: 0 !important;
    height: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    /* align-items: flex-start; */
}

.footer-area {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    align-items: flex-start;
    width: inherit;
    padding: 4rem;
}

/* .footer-area div{
    width: 25% !important;
} */

.footer-info,
.footer-subscription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    font-family: "gteesti";
    color: #2B2B2B;

    a {
        color: #2B2B2B;
    }

    ;
    font-size: 0.8em;
}

.footer-subscription {
    padding: 2rem;
    display: flex;
    padding-bottom: 1rem;
}

.footer-info-item {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    width: 20em;
    text-align: justify;
}

.footer-logo {
    width: 5em;
}

.footer-bottom {
    flex: 0.5;
    /* background: #003854; */
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 4em;
    padding: 3rem;
}

.footer-bottom-right,
.footer-bottom-left {
    flex: 3 1 300px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 2em;
    color: #AAAAAA;
    font-family: "gteesti";
    font-size: 0.9em;

    a {
        color: #AAAAAA;
        font-size: 0.9em;
    }

    a:hover {
        text-decoration: none;
        color: #AAAAAA;
        font-family: "gteesti";
    }
}

.footer-link-bottom.link:hover {
    text-decoration: none;
    font-family: "gteesti";
    color: #2B2B2B;
}

.footer-link-bottom.link:visited {
    color: #2B2B2B;
    text-decoration: none;
}

.footer-links {
    flex: 2 3 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer-links-heading {
    font-family: "gteesti";
    color: #2B2B2B;
    font-size: 1.2rem;
}

.footer-link-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;

    a {
        font-family: "gteesti-light";
        color: #2B2B2B;
        font-size: 1rem;
        text-decoration: none;
    }

    ;

    a:visited {
        color: #2B2B2B;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline !important;
    }
}

.footer-socials,
.enter-email {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
}

.enter-email {
    flex: 3 1;
    gap: 0;
    align-items: center;
}

.email-sub {
    width: inherit;
    padding: 0.9rem;
    border: 1px solid #262626;
    font-size: 1.2rem;
    /* border-radius: 0.5em; */
}

.email-sub:focus {
    outline: none;
}

.email-sub::placeholder {
    font-family: "gteesti";
}

.email-sub-button {
    padding: 1.1rem;
    /* width: 4em; */
    /* height: 1.25em; */
    background-color: #262626;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #262626;
    /* border-radius: 2vmin; */
    margin-left: -1px;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.email-sub-button>span {
    font-weight: 700;
    font-family: "gteesti";
    letter-spacing: 0.15rem;
}

.email-sub-button:hover {
    background-color: #e5e5e5;
    color: #262626;
}


.footer-links-subheading {
    font-family: "gteesti";
    color: #2B2B2B;
    font-size: 1.2rem;
}

.footer-socials-icon {
    color: #262626;
    font-size: 2em;
}

.footer-socials-icon:hover {
    text-decoration: none;
    font-size: 2.1em;
}

.footer-socials-icon:active {
    text-decoration: none;
    color: #2B2B2B;
}

.copy-right-text {
    font-size: 1rem;
    line-height: 1.5625rem;
    letter-spacing: .5px;
    color: #6f6f6f;
}

.footer-bottom {
    border-top: 1px solid #b8b8b88e;
}